@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #ccc;
}

a {
  text-decoration: none;
  color: #5683d8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  width: 100%;
  padding: 4px;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;
}

header .logo {
  width: auto;
  height: 85px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border-radius: 0.35rem;
  background-color: white;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  margin: 0.8rem;
  width: 370px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 1rem;
  /* background: linear-gradient(to bottom left, #ffffff 40%, #ececec 100%); */
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  background-color: #ddd;
  display: inline-block;
  height: 100%;
  max-width: 100%;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 548px;
  max-width: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.card-texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.card-text {
  color: #333333;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.type {
  color: #ddd !important;
  padding: 0px 4px;
  border-radius: 4px;
}
.type.movie {
  background-color: #d8565d;
}
.type.series {
  background-color: #5679d8;
}

.card-actions {
  margin-top: 1rem;
}
.card-btn {
  color: #1976d2;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.25s;
}
.card-btn:hover {
  padding: 6px 8px;
  margin-left: -8px;
  background-color: rgba(155, 173, 190, 0.2);
  border-radius: 4px;
}

.countdown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.big-text {
  font-size: 1.8rem;
  line-height: 1;
  margin: 0 1rem;
}

.md-text {
  font-size: 1.2rem;
  line-height: 1;
  margin: 1rem 0;
}

.c-element {
  text-align: center;
}

.c-element span {
  font-size: 1rem;
}

footer {
  background-color: #202020;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 576px) {
  header .logo {
    width: auto;
    height: 60px;
  }

  .card img {
    min-height: 500px;
  }
}

/* @media (min-width: 40rem) {
  .card {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .card {
    width: 33.3333%;
  }
} */
